@import "variables";

body {
  background-color: $light;
  font-family: $sans-serif;
  line-height: 1.7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}

header {
  padding: 2rem 0;
}
nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5rem;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
